// ========================================
//  Default Bootstrap Breakpoints
// ========================================

$small: 767px;

$medium: 991px;

$large: 1199px;

// ========================================
//  Custom Breakpoints
// ========================================

$mobile: 480px;
